@charset "UTF-8";
:root {
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --primary-text-color: #757575;
  --button-color: #f5f4fa;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: var(--background-color);
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 448px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button {
  /* bg */
  background: var(--accent-color);
  border: none;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--background-color);
  transition: background-color 250ms var(--timing-function);
  padding: 10px 32px;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: #188ce8;
}

.submit-text-btn {
  display: flex;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: none;
  transition: background-color 250ms var(--timing-function);
  padding: 10px 29px 10px 24px;
}

.btn-footer {
  display: inline-block;
  align-items: center;
}

.submit-text-btn:hover,
.submit-text-btn:focus {
  background-color: #188ce8;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.all-button {
  /* Все */
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--button-color);
}

.modal-button {
  border: none;
  padding: 6px 22px;
  margin-right: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  transition: background-color 250ms var(--timing-function);
}

.modal-button:hover,
.modal-button:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}

.social-item-footer:not(:last-child) {
  margin-right: 10px;
}

.social-icon-footer {
  fill: #ffffff;
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--accent-color);
}

.social-link-footer:hover .social-icon-footer,
.social-link-footer:focus .social-icon-footer {
  fill: #ffffff;
}

.what-we-do-title {
  padding-top: 47px;
}

.title-footer {
  display: flex;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.item-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.social-list-footer {
  display: flex;
  align-items: center;
}

.social-list {
  display: flex;
  justify-content: center;
  margin-left: 32px;
  margin-right: 32px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms var(--timing-function);
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-icon {
  fill: #afb1b8;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  padding: 40px 39px 40px 41px;
}

.modal-form-check-label {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form-check-link {
  color: #2196f3;
  text-decoration: underline;
  line-height: 1.71;
}

.btn-close-icon {
  fill: #000000;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
}

.close-btn:hover,
.close-btn:focus {
  border-color: #2196f3;
}

/*============== MODAL FORM ==============*/
.modal-form {
  display: flex;
  flex-direction: column;
  appearance: none;
}

.modal-form-head {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form-field {
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-field-content {
  display: block;
  position: relative;
  margin-top: 6px;
  box-sizing: border-box;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms linear;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-form-input:hover,
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-message:hover,
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: background-color 250ms linear;
}

.modal-form-input:focus + .modal-form-icon,
.modal-form-input:hover + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  resize: none;
  margin-top: 6px;
  padding: 15px;
  transition: border-color 250ms linear;
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-check {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.btn-close-icon {
  vertical-align: middle;
}

.modal:hover .btn-close-icon,
.modal:focus .btn-close-icon {
  fill: #2196f3;
}

.modal-form-btn {
  background: var(--accent-color);
  border: none;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--background-color);
  transition: background-color 250ms var(--timing-function);
}

.modal-form-btn {
  padding: 10px 55px 10px 56px;
  margin: auto;
  margin-top: 30px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: #188ce8;
}

.modal-form-check-label::before {
  display: block;
  content: "";
  background-image: url(../images/icon-square.svg);
  width: 16px;
  height: 15px;
  cursor: pointer;
  margin-right: 10px;
}

.modal-form-check:checked + .modal-form-check-label::before {
  background-color: #2196f3;
  background-image: url(../images/icon-checked.svg);
  background-size: 11px 8px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 16px;
  height: 15px;
  border-radius: 2px;
}

.modal-form-check:focus + .modal-form-check-label::before {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}

.modal-form-check-label {
  display: flex;
  align-items: center;
}

.modal-form-check-label {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox-wrapper {
  position: relative;
  margin-top: 20px;
}

.modal-form-check {
  bottom: 0;
  left: 20px;
}

/* ============Form========= */
.footer-subscribe {
  display: flex;
  flex-direction: row;
  flex-basis: calc((100% - 30px) / 2);
}

.subscribe-text {
  display: flex;
  margin-bottom: 20px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.email-subscription {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  background: #2f303a;
  padding: 15px;
}

.email-subscription,
select,
text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.send-icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 10px;
}

.header {
  /* top line bg */
  color: var(--background-color);
  border-bottom: 1px solid #ececec;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  padding-top: 24px;
  margin-right: 93px;
  padding-bottom: 25px;
  line-height: 1.1;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #212121;
}

.logo span {
  color: var(--accent-color);
  text-decoration: none;
  line-height: 1.1;
  font-weight: 700;
}

.site-nav {
  display: flex;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  transition: color 250ms var(--timing-function);
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-item {
  position: relative;
}

.current {
  color: var(--accent-color);
}

.current::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  bottom: -32px;
}

.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-list {
  /* info@devstudio.com */
  /* +38 096 111 11 11 */
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}

/* .envelope-icon {
  margin-right: 10px;
  fill: currentColor;
} */
.contact-link {
  display: flex;
  align-items: center;
  transition: color 250ms var(--timing-function);
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-icon {
  transition: fill 250ms var(--timing-function);
}

.contact-list-item:not(:last-child) {
  margin-right: 30px;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.contact-icon {
  margin-right: 10px;
}

.contact-link:hover .contact-icon,
.contact-link:focus .contact-icon {
  fill: var(--accent-color);
}

/* ===============HERO=============== */
.hero-text {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img.png");
  background-size: cover;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-container {
  display: flex;
  align-items: center;
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

/* ===================WHAT WE DO=================== */
.what-we-do {
  margin-bottom: 47px;
}

.our-job {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.our-job-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.what-we-do {
  font-family: Roboto;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.our-job-item {
  position: relative;
}

.text-overlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
  padding: 27px 83px 27px 82px;
}

/* ====================OUR ADVANTAGES==================== */
.advantages-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.advantages {
  padding-bottom: 47px;
}

.advantages-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: -30px;
  margin-left: -30px;
}

.advantages-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 120px) / 4);
}

.advantages-item::before {
  display: inline-block;
  content: "";
  width: 270px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.icon-antena::before {
  background-image: url(../images/antena.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.advantages-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  width: 270px;
}

/* ===================OUR TEAM=================== */
.our-team {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  background: #f5f4fa;
}

.team-item {
  background: #ffffff;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.heading-team {
  margin-bottom: 50px;
}

.team-names {
  padding-top: 30px;
  padding-bottom: 30px;
}

.item-job {
  margin-bottom: 16px;
}

.heading-team {
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-members {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.team-section {
  /* Section bg */
  background: #f5f4fa;
}

.item-name {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.item-job {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* ==================END OF STUDIO================= */
/* =======OUR CLIENTS======= */
.clients {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  align-items: center;
  margin-top: -30px;
  margin-left: -30px;
}

.clients-item {
  flex-basis: calc((100% - 180px) / 6);
  margin-left: 30px;
  margin-top: 30px;
}

.clients-link {
  color: #afb1b8;
  display: flex;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}

.company-icon {
  display: inline-block;
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border: 1px solid #2196f3;
}

/* ==============FOOTER============= */
footer {
  background: #2f303a;
}

.logo-footer {
  /* WebStudio */
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--background-color);
  display: inline-block;
  margin-bottom: 20px;
  font-style: normal;
}

.logo-footer span {
  /* WebStudio */
  color: var(--accent-color);
  text-decoration: none;
  font-style: normal;
}

.address {
  display: flex;
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--background-color);
  text-decoration: none;
  font-style: normal;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.email-foot-number {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}

.email-foot-number:hover,
.email-foot-number:focus {
  color: var(--accent-color);
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-basis: calc((100% - 30px) / 2);
}

.footer-address {
  flex-basis: calc((100% - 30px) / 2);
}

.footer-container {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* ===========PORTFOLIO=========== */
.our-works {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.works-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
  background-color: #ffffff;
}

.our-works-links {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.item-description {
  /* Веб-сайт */
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.our-works-list {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px;
}

.works-link {
  display: block;
  transition: box-shadow 250ms var(--timing-function);
}

.works-link:hover,
.works-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* =========OVERLAY========= */
.img-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.overlay-text {
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px 63px 24px;
}

.works-link:hover .works-item,
.works-link:focus .works-item {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-link:hover .overlay,
.works-link:focus .overlay {
  overflow: visible;
  transform: translateY(0%);
}
/*# sourceMappingURL=main.css.map */