// UTILS
@import "./utils/variables";
@import "./utils/visually-hidden";
@import "./utils/list";

// BASE
@import "./base/common";
@import "./base/containers";
@import "./base/section-paddings";

// COMPONENTS
@import "./components/modal-btns";
@import "./components/social-links";
// @import "./components/suptitle";
// @import "./components/section-description";
@import "./components/titles";
@import "./components/social-list";
@import "./components/backdrop";
@import "./components/modal-window";
@import "./components/modal-form";

// LAYOUT
@import "./layout/header";
@import "./layout/hero";
@import "./layout/services";
@import "./layout/advantages";
@import "./layout/team-members";
@import "./layout/our-clients";
@import "./layout/footer";
@import "./layout/portfolio-cards";
