/*============== MODAL FORM ==============*/

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  max-height: 609px;
  width: 96vw;
  height: 96vw;
  overflow: auto;
  padding: 40px;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    max-width: 450px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 528px;
    max-height: 581px;
  }
}

.modal-form-head {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form-field {
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-field-content {
  display: block;
  position: relative;
  margin-top: 6px;
  box-sizing: border-box;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms linear;
}
.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}
.modal-form-input:hover,
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-message:hover,
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: background-color 250ms linear;
}

.modal-form-input:focus + .modal-form-icon,
.modal-form-input:hover + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  resize: none;
  margin-top: 6px;
  padding: 15px;
  transition: border-color 250ms linear;
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-check {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}
.btn-close-icon {
  vertical-align: middle;
}

.modal:hover .btn-close-icon,
.modal:focus .btn-close-icon {
  fill: #2196f3;
}

.modal-form-btn {
  background: var(--accent-color);
  border: none;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--background-color);
  transition: background-color 250ms var(--timing-function);
}
.modal-form-btn {
  padding: 10px 55px 10px 56px;
  margin: auto;
  margin-top: 30px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: #188ce8;
}
.modal-form-check-label::before {
  display: block;
  content: "";
  background-image: url(../images/icon-square.svg);
  width: 16px;
  height: 15px;
  cursor: pointer;
  margin-right: 10px;
}

.modal-form-check:checked + .modal-form-check-label::before {
  background-color: #2196f3;
  background-image: url(../images/icon-checked.svg);
  background-size: 11px 8px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 16px;
  height: 15px;
  border-radius: 2px;
}

.modal-form-check:focus + .modal-form-check-label::before {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}

.modal-form-check-label {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
}

.checkbox-wrapper {
  position: relative;
  margin-top: 20px;
}

.modal-form-check {
  bottom: 0;
  left: 20px;
}
