//MODAL FORM
/* ============Form========= */
.footer-subscribe {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 30px) / 2);
}
.subscribe-text {
  display: flex;
  margin-bottom: 20px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.email-subscription {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  background: #2f303a;
  padding: 15px;
  margin-right: 7px;
}
.email-subscription,
select,
text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.send-icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 10px;
}
