.social-list-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.social-list {
  display: flex;
  justify-content: center;
  margin-left: 32px;
  margin-right: 32px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms var(--timing-function);
}
.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-icon {
  fill: #afb1b8;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ffffff;
}
