// HERO BTN
.button {
  /* bg */
  background: var(--accent-color);
  border: none;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--background-color);
  transition: background-color 250ms var(--timing-function);
  padding: 10px 32px;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: #188ce8;
}
//END HERO BTN
//FOOTER BUTTON
.submit-text-btn {
  display: flex;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: none;
  transition: background-color 250ms var(--timing-function);
  padding: 10px 29px 10px 24px;
}

.btn-footer {
  display: inline-block;
  align-items: center;
}
.submit-text-btn:hover,
.submit-text-btn:focus {
  background-color: #188ce8;
}
//END FOOTER BUTTON
//PORTFOLIO BUTTONS
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.all-button {
  /* Все */
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--button-color);
}

.modal-button {
  border: none;
  padding: 6px 22px;
  margin-right: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  transition: background-color 250ms var(--timing-function);
}
.modal-button:hover,
.modal-button:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
//END PORTFOLIO BUTTONS
