/* ====================OUR ADVANTAGES==================== */
.advantages-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.advantages {
  padding-bottom: 47px;
}
.advantages-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: -30px;
  margin-left: -30px;
}
.advantages-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 120px) / 4);
}
.advantages-item::before {
  display: inline-block;
  content: "";
  width: 270px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.icon-antena::before {
  background-image: url(../images/antena.svg);
}
.icon-clock::before {
  background-image: url(../images/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.advantages-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  width: 270px;
}
