/* ==============FOOTER============= */
.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;

  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--background-color);
  display: inline-block;
  margin-bottom: 20px;
  font-style: normal;

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
    text-align: center;
  }
}

.logo-footer span {
  color: var(--accent-color);
  text-decoration: none;
  font-style: normal;
}

.address {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--background-color);
  text-decoration: none;
  font-style: normal;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    // margin-left: 30px;
    display: flex;
  }

  @media screen and(max-width:767px) {
    text-align: center;
    text-decoration: none;
  }
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.email-foot-number {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}
.email-foot-number:hover,
.email-foot-number:focus {
  color: var(--accent-color);
}

.box {
  // display: flex;
  // justify-content: space-between;
  // align-items: baseline;
  // flex-basis: calc((100% - 30px) / 2);

  // margin-left: 30px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-basis: calc((100% - 30px) / 2);
    // margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    // margin-left: 30px;
    flex-wrap: nowrap;
    flex-basis: calc((100% - 30px) / 2);
  }
}

.footer-address {
  margin-bottom: 60px;
  @media screen and (max-width: 768px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    // margin-left: 30px;
    flex-wrap: nowrap;
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
  @media screen and(max-width:767px) {
  }
}
.footer-container {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-basis: calc(100% / 2);
    margin-bottom: 0;
  }
}
