/* ===========PORTFOLIO=========== */

.our-works {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.works-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
  background-color: #ffffff;
}
.our-works-links {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.item-description {
  /* Веб-сайт */
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.our-works-list {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px;
}
.works-link {
  display: block;
  transition: box-shadow 250ms var(--timing-function);
}
.works-link:hover,
.works-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* =========OVERLAY========= */
.img-overlay {
  position: relative;
  overflow: hidden;
}
.overlay {
  display: inline-block;
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}
.overlay-text {
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px 63px 24px;
}

.works-link:hover .works-item,
.works-link:focus .works-item {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-link:hover .overlay,
.works-link:focus .overlay {
  overflow: visible;
  transform: translateY(0%);
}
