html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
body {
  color: var(--background-color);
}
ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
